body {

  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-top-color: currentcolor;
    border-top-style: inset;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-width: 6px;
    border-left-color: currentcolor;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: white transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
  }

  .level {
    display: flex;
    align-items: center;
  }
  .flex {
    flex: 1;
  }

  table {
    thead {
      background-color: #2294f2;
      color: white;
      font-weight: 500;
    }
  }

  background-color: #ffffff;
  h1 {
    font-size: 100px;
    font-family: 'Quicksand';

  }
  .auth_back {
    height: 300px;
    background-color: #5cb85c;
    padding-top: 100px;
    color: white;
  }
  .login-content {
    margin: 50px auto;
    width: 550px;

    .button {
      margin-top: 30px;
      background-color: #5cb85c;
      font-weight: 700;
    }
  }

  .navbar_top {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    padding: 20px;
    background-color: #5cb85c;
    color: white;

    .top-bar-left .top-bar-right {
      background-color: #5cb85c;
    }

    .top-bar-left {
      font-weight: bold;

      a {
        color: white;
      }
    }

    .top-bar-right {
      .menu {
        background-color: transparent;
        color: white;
        font-weight: bold;
        .navbar_button {

          background: #5cb85c;

          a {
            color: white;
          }

          .navbar_logout:hover {
            background-color: #5cb85c;
          }
        }

        .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
          border-color: white transparent transparent;
        }

      }
    }
  }

  .sidebar_admin {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    width: 15%;
    font-family: 'Quicksand';

    a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;

      &:hover {
        color: #f1f1f1;
      }

    }
    a.active {
      color: #f1f1f1;
    }

    .main_admin {
      font-family: 'Quicksand';
      width: 100%;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar_admin {
        padding-top: 15px;
      }
      .sidebar_admin a {
        font-size: 18px;
      }
    }

  }

  .form-heading {
    text-align: center;
  }

  .form-body {
    font-family: 'Quicksand';

    .form-button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 12px;
      font-family: 'Quicksand';
      width: 100%;
    }
  }

  .event_create {

    .form-body {
      font-family: 'Quicksand';

      .form-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 12px;
        font-family: 'Quicksand';
        width: 100%;
      }
    }

  }

  .add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    font-family: 'Quicksand';
    width: 100%;
  }

  .table-font {
    font-family: 'Quicksand';
  }

  .edit-button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    font-family: 'Quicksand';
  }

  .delete-button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    font-family: 'Quicksand';
  }

  .form_table_arrangement {
    margin: 0 auto;
    width: 90%;
    padding: 30px;
  }

  .form_table_arrangement_2 {
    margin: 100px auto;
    width: 900px;
  }

  .show_event {
    padding: 20px;

    table {
      thead {
        background-color: #2294f2;
        color: white;
        font-weight: 500;
      }

      .tr_detail {
        height: 70px;
      }

      .fa-happening {
        color: #d9534f;
      }

      .fa-on-time {
        color: #5cb85c;
      }

      .fa-late {
        color: #f0ad4e;
      }

      .trash-button {
        color: #d9534f;
      }
    }
  }
}