
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "settings";

// Bootstrap
@import "foundation";


.log-out {
  text-align: center;
  padding: 1%;
  background-color: lightblue;
}

.home-bar-in, .home-bar-out{
  background-color: khaki !important;
}